body{
    background-color: aquamarine;
    
}
h1{
    color: rgb(19, 11, 255);
    text-align: center;
    background-color: goldenrod;
    width: 20%;
    margin-left: 40%;
    border-radius: 5px;
    font-family: cursive;
}
h2{
  color: rgb(19, 11, 255);
  text-align: center;
  background-color: goldenrod;
  width: 20%;
  margin-left: 40%;
  border-radius: 5px;
  font-family: cursive;
}
p{
    
    color: rgb(19, 11, 255);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 15px;
}
.dice2{
    display: flex;
    justify-content: center;
    
}
.dice{
    display: flex;
    justify-content: center;
    
    
}
.rol{
    color: aquamarine;

}
#b1{
    
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;
        box-shadow: -8%;
      

    }
#b1:hover {background-color: #3e8e41}

#b1:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    .containe{
        margin-top:-5% ;
       
    }
    .tb1{
        border-radius: 15px;
        background-color:red;
        height: 200px;
        width: 200px;
        border-style: solid;
   border-width: 7px;
   border-color: rgb(0, 0, 0);
   padding: 50px;
    
    }
    .tb2{
      border-radius: 15px;
      background-color:green;
      height: 200px;
      width: 200px;
      border-style: solid;
   border-width: 7px;
   border-color: rgb(0, 0, 0);
   padding: 50px;
  
  }
  .tb3{
    border-radius: 15px;
    background-color:blue;
    height: 200px;
    width: 200px;
   border-style: solid;
   border-width: 7px;
   border-color: rgb(0, 0, 0);
   padding: 50px;

}
.tb4{
  border-radius: 15px;
  background-color:yellow;
  height: 200px;
  width: 200px;
  border-style: solid;
   border-width: 7px;
   border-color: rgb(0, 0, 0);
   padding: 50px;

}
    @keyframes translateAnimation {
        0% {
          opacity: 1;
          
        }
        100% {
          opacity: 0;
          
        }
      }
      
      /* Apply animation to image */
       img {
        opacity: 1;
      }
      @keyframes translateAnimation {
        0% {
          opacity: 1;
          
        }
        100% {
          opacity: 0;
          
        }
      }
      
      /* Apply animation to image */
       img {
        opacity: 1;
      }